pymupdf
pillow

transformers
torch
torchvision

google-auth
google-api-python-client

llama-index
llama-index-embeddings-huggingface
llama-index-llms-deepseek
llama-index-readers-file
llama-index-readers-pdf-table
camelot

streamlit

comtypes

flask